<%= render 'shared/navbar', locals: { current_user: @current_user} %>
<style>
  .content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .input-div{
    display: flex;
    flex-direction: column;
  }

</style>

<div class="content">
<h1>Sign UP page</h1>

<div>
    <% if @user.errors.any? %>
    <div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
</div>

<div>
<%= form_with model: @user, url: sign_up_path do |f|  %>
    <div class="input-div">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div class='input-div'>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div class='input-div'>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>
    <div class='input-div'>
        <%= f.label :age %>
        <%= f.number_field :age %>
    </div>
    <%= f.submit "Sign Up" %>
<% end %>
</div>
</div>