<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CV Template</title>
  <style>
    html {
      padding:0;
      margin:0;
    }
    body {
      font-family: Arial, sans-serif;
      display: block;
      padding:0;
      margin:0;
    }

    .left-container {
      width: 45%;
      float: left;      
    }

    .right-container {
      width: 55%;
      float: right;
    }

    .name {
      padding:0;
      margin:0;
    }

    h2 {
      color: #333;
      font-size: 12px;
    }

    p {
      color: #666;
      font-size: 9px;
    }

    hr {
      color: black;
    }

    .section {
      margin-bottom: 20px;
    }

    .section h2 {
      padding:0;
      margin:0;
      margin-top: 5px;
    }

    .section p {
      padding:0;
      margin:0;
      padding-left: 10px;
      padding-top: 5px;
    }

    .languages {
      margin-top: 10px;
    }

    .education {
      margin-top: 10px;
    }

    .skills {
      margin-top: 10px;
    }

    .experience {
      margin-top: 10px;
    }

    .experience-title {
      margin-bottom:5px;
    }

    .experience-paragraph {
      text-indent: 5px;
      font-size: 8px;
    }
  </style>
</head>
<body>
  <div>
    <h1 class="name"><%= @worker.user.first_name %> <%= @worker.user.surname %></h1>
    <p><%= @worker.summary %></p>
  </div>
  <hr>

  <div class="left-container">
    <div class="section">
      <h2>Languages</h2>
      <div class="section">
        <% @worker.language_ids.each do |language_id| %>
          <% language = Language.find(language_id) %>
          <p>• <%= language.name %>: <%= language.level %></p>
        <% end %>
      </div>
    </div>

    <div class="section">
      <h2>Skills and technologies</h2>
      <div class="section">
        <% @worker.technology_ids.each do |technology_id| %>
          <% technology = Technology.find(technology_id) %>
          <p>• <%= "#{technology.name}" %></p>
        <% end %>
      </div>
    </div>

    <div class="section">
      <h2>Contact information</h2>
      <p>Email: <%= @worker.user.email %></p>
      <p>Phone: <%= @worker.phone_number %></p>
    </div>
  </div>

  <div class="right-container">
    <div class="section">
      <h2>Education</h2>
      <div class="section">
        <% @worker.education_ids.each do |education_id| %>
          <% education = Education.find(education_id) %>
          <p>• <%= education.location %> | <%= education.specialization %> (<%= education.degree %>)</p>
        <% end %>
      </div>
    </div>

    <div class="section">
      <h2>Experience</h2>
      <div class="section">
        <% @worker.experience_ids.each do |experience_id| %>
          <% experience = Experience.find(experience_id) %>
          <p class="experience-title">• <%= "#{experience.title}" %></p>
          <i><p class="experience-paragraph"><%= "#{experience.project_description}" %></p></i>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
